<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="preferExternal"
          android:versionCode="2" android:versionName="0.2"
          package="fr.mixit.android">

	<permission android:name="fr.mixit.android.permission.WRITE_SCHEDULE"
		android:protectionLevel="normal"
		android:label="@string/permission_write"
		android:description="@string/permission_write" />

	<application android:label="@string/app_name"
		android:icon="@drawable/icon"
		android:debuggable="false">

		<activity android:name=".ui.HomeActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme.MixIT">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.SlotsActivity"
			android:theme="@style/Theme.MixIT"
			android:label="@string/title_schedule">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.TAB" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.mixit.slot" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.SessionsOverviewActivity"
			android:theme="@style/Theme.MixITIndexer"
			android:label="@string/title_sessions" />

		<activity android:name=".ui.TracksActivity"
			android:theme="@style/Theme.MixIT"
			android:label="@string/title_tracks">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.TAB" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.mixit.track" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.TagsActivity"
			android:theme="@style/Theme.MixITIndexer"
			android:label="@string/title_tags">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.TAB" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.mixit.tag" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.SessionsActivity"
			android:theme="@style/Theme.MixIT"
			android:label="@string/title_sessions">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.TAB" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.mixit.session" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.SessionDetailActivity"
			android:theme="@style/Theme.MixIT">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.mixit.session" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.SpeakersActivity"
			android:theme="@style/Theme.MixITIndexer"
			android:label="@string/title_speakers">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.TAB" />
				<data android:mimeType="vnd.android.cursor.dir/vnd.mixit.speaker" />
			</intent-filter>
		</activity>

		<activity android:name="fr.mixit.android.ui.SpeakerDetailActivity"
			android:theme="@style/Theme.MixIT"
			android:label="@string/title_speaker_detail">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="vnd.android.cursor.item/vnd.mixit.speaker" />
			</intent-filter>
		</activity>

		<activity android:name=".ui.StarredActivity"
			android:theme="@style/Theme.MixITIndexer"
			android:label="@string/title_starred" />

		<activity android:name=".ui.SearchActivity"
			android:theme="@style/Theme.MixIT"
			android:label="@string/title_search"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			<meta-data android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<activity android:name=".ui.SettingsActivity"
			android:theme="@style/Theme.MixItSettings"
			android:label="@string/title_settings" />

		<activity android:name=".ui.AboutActivity"
			android:theme="@style/Theme.MixIT"
			android:label="@string/title_about" />

		<meta-data android:name="android.app.default_searchable"
			android:value=".ui.SearchActivity" />

	    <service android:name=".service.SyncService"/>

	    <provider android:name=".provider.MixItProvider"
		    android:authorities="fr.mixit.android"
		    android:writePermission="fr.mixit.android.permission.WRITE_SCHEDULE" />
    </application>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<uses-sdk android:minSdkVersion="5" android:targetSdkVersion="8"/>

	<supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" />

</manifest>
